.mat-form-field-wrapper {
  width: 300px;
}
.btn-blue {
  color: white;
  background-color: rgb(0, 119, 255);
}
.btn-border-red {
  border: 1px solid red;
  color: red;
  margin-left: 40px;
}
.btn-red{
  color: white;
  background-color: red;
}
.border-dotted{
  width: 400px;
  margin: 20px;
  padding: 10px;
  border: 1px solid;
  border-style: dotted;
}
.btn-border-green{
  border: 1px solid rgb(35, 192, 35);
  color: rgb(42, 184, 42);
  margin-left: 120px;
  margin-right: 20px;
}
.error{
  color: red;
}
.caja-de-texto{
  /* width:20px; */
  height: 30px 
}
.btn-border-blue{
  border: 1px solid rgb(0, 119, 255);
  color: rgb(0, 119, 255);
}