<form [formGroup]="form">

    <button 
      class="btn-blue"
      mat-flat-button 
      type="button"
      color="primary"
      (click)="agregarUtil()"
    >
      +
    </button>

    <button 
    class="btn-border-red"
      mat-flat-button 
      type="button"
      color="red"
      (click)="eliminarUtiles()">Eliminar Todo
    </button>


  <div class="border-dotted" formArrayName="utiles">
    
    <form [formGroup]="form1">Utiles Escolares
      <p *ngFor="let util of utilesEscolares.controls; let id = index">
        <mat-form-field appearance="outline">
        <mat-label></mat-label>
         <input class="caja-de-texto"
          matInput type="text" 
          placeholder="Ingresar materiales"
          formControlName="nombre"
        >
        <mat-error class="error">Error</mat-error>
        </mat-form-field>
        <mat-checkbox 
          class="btn-aceptar"
          formControlName="aceptar">
        </mat-checkbox>Aceptar
        <button 
          class="btn-red"
          mat-flat-button 
          type="text"
          color="warn"
          (click)="eliminarUtil(id)">Eliminar
        </button>
      </p>
    </form> 
  </div>

  <button class="btn-border-green" mat-stroked-button color="primary" (click)="guardarCajas()">Guardar</button>
  <button class="btn-border-blue" mat-stroked-button color="accent" (click)="limpiarCajas()">Limpiar</button>
  
</form>

